@font-face {
  font-family: 'myfont';
  src: url('./STXINGKA.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  font-family: 'myfont';
  color: #f00;
  background: url('./icon.png');
}
